[submodule "external/inpoly"]
	path = external/inpoly
	url = https://github.com/dengwirda/inpoly.git
[submodule "external/kdtree"]
	path = external/kdtree
	url = https://github.com/taiya/kdtree.git
[submodule "external/treefun"]
	path = external/treefun
	url = https://github.com/danfortunato/treefun.git
